@keyframes skeleton-loading {
  to {
    background-position: 100%;
  }
}

.animated-background {
  position: relative;
  animation-duration: 1.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: infinite;
  animation-name: skeleton-loading;
  cursor: progress;
  background: #f6f6f6;
  width: 100%;
  background: linear-gradient(0.25turn, transparent, #cfcfcf, transparent),
    linear-gradient(#e8e8e8, #e8e8e8),
    radial-gradient(10px circle at 19px 19px, #eee 50%, transparent 51%),
    linear-gradient(#eee, #eee);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: -100%;
  background-color: #e8e8e8;
}

/* Cart */
.drawer {
  width: 100%;
  height: 100%;
  max-width: 450px;
  z-index: 22;
  bottom: 0;

  @apply w-full;
  @apply flex;
  @apply flex-col;
  @apply bg-white;
  @apply shadow-cart;
  @apply fixed;
  @apply transition;
  @apply duration-350;
  @apply ease-in-out;
}

.drawer-cart {
  right: 0;
  transform: translate(450px, 0);
}

.drawer-menu {
  left: 0;
  transform: translate(-450px, 0);
}

.drawer-cart.open,
.drawer-menu.open {
  transform: translate(0, 0);
}

.overlay {
  background-color: rgba(0, 0, 0, 0.35);
  z-index: 21;
  transition-duration: 0.1s;
  transition-timing-function: linear;
  backdrop-filter: blur(0.6px);
  @apply w-full;
  @apply h-full;
  @apply flex;
  @apply fixed;
  @apply top-0;
  @apply left-0;
}
