@keyframes skeleton-loading {
  to {
    background-position: 100%;
  }
}

.animated-background {
  position: relative;
  animation-duration: 1.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: infinite;
  animation-name: skeleton-loading;
  cursor: progress;
  background: #f6f6f6;
  width: 100%;
  background: linear-gradient(0.25turn, transparent, #cfcfcf, transparent),
    linear-gradient(#e8e8e8, #e8e8e8),
    radial-gradient(10px circle at 19px 19px, #eee 50%, transparent 51%),
    linear-gradient(#eee, #eee);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: -100%;
  background-color: #e8e8e8;
}

/* Cart */
.drawer {
  width: 100%;
  height: 100%;
  max-width: 450px;
  z-index: 22;
  bottom: 0;

  @apply w-full;
  @apply flex;
  @apply flex-col;
  @apply bg-white;
  @apply shadow-cart;
  @apply fixed;
  @apply transition;
  @apply duration-350;
  @apply ease-in-out;
}

.drawer-cart {
  right: 0;
  transform: translate(450px, 0);
}

.drawer-menu {
  left: 0;
  transform: translate(-450px, 0);
}

.drawer-cart.open,
.drawer-menu.open {
  transform: translate(0, 0);
}

.overlay {
  background-color: rgba(0, 0, 0, 0.35);
  z-index: 21;
  transition-duration: 0.1s;
  transition-timing-function: linear;
  backdrop-filter: blur(0.6px);
  @apply w-full;
  @apply h-full;
  @apply flex;
  @apply fixed;
  @apply top-0;
  @apply left-0;
}
/* ----------------------------------- */

.cart-scrollbar {
  max-height: calc(100vh - 233px);
  -webkit-overflow-scrolling: touch;
}

.checkbox {
  position: absolute;
  opacity: 0;
}

.checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
  display: inline-flex;
  align-items: center;
}

.checkbox + label:before {
  content: '';
  margin-right: 10px;
  display: inline-flex;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  background-color: #ffffff;
  border: 1px solid rgb(209, 213, 219);
}

.checkbox:focus + label:before {
  border-color: black;
}

.checkbox:checked + label:before {
  background-color: black;
  border-color: black;
}

.checkbox:disabled + label {
  color: rgb(107, 114, 128);
  cursor: auto;
}

.checkbox:disabled + label:before {
  box-shadow: none;
  background: rgb(209, 213, 219);
}

.checkbox:checked + label:after {
  content: '';
  position: absolute;
  left: 4px;
  top: 10px;
  background: #ffffff;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 #ffffff, 4px 0 0 #ffffff, 4px -2px 0 #ffffff,
    4px -4px 0 #ffffff, 4px -6px 0 #ffffff, 4px -8px 0 #ffffff;
  transform: rotate(45deg);
}

/* ---------- */

.radio_input[type='radio']:checked,
.radio_input[type='radio']:not(:checked) {
  position: absolute;
  width: 20px;
  height: 20px;
  z-index: 10;
  top: 50%;
  right: 0px;
  transform: translate(-50%, -90%);
}

.radio_input[type='radio']:checked + label,
.radio_input[type='radio']:not(:checked) + label {
  position: relative;
  cursor: pointer;
}

.radio_input[type='radio']:not(:checked) + label .label-bg {
}

.radio_input[type='radio']:checked + label > .label-bg {
  @apply bg-gray-400 shadow-cart;
}

/* ------ Swiper ------ */

.swiper-pagination {
  bottom: 0 !important;
}

.swiper-pagination-bullet {
  width: 25px !important;
  height: 3px !important;
  border-radius: 1px !important;
  background-color: #b8b8b8 !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background-color: #000 !important;
}
/*
.swiper-button-prev {
  background-image: url("/assets/svg/logo.svg");
}

.swiper-button-next {
  background-image: url("/assets/svg/logo.svg") !important;
} */

.swiper-button-next::after,
.swiper-button-prev::after {
  color: #000000 !important;
  font-weight: 700;
}

.loading-bar-container {
  display: none;
  height: 5px;
  background: #27c4f5
    linear-gradient(to right, #27c4f5, #a307ba, #fd8d32, #70c050, #27c4f5);
  background-size: 200%;
  animation: LoadingBarProgress 1.5s linear infinite;
  transform-origin: left;
  width: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
}
@keyframes LoadingBarProgress {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: -200% 0%;
  }
}
.loading-bar--show {
  display: block;
}

.gradient-category-item-2 {
  background: linear-gradient(
    0deg,
    rgb(0 0 0 / 64%) 7%,
    rgb(0 0 0 / 63%) 4%,
    rgb(0 0 0 / 0%) 30%
  );
}
